.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 400px;
  background-color: #f4f1fa;
}
.navbar li a {
  display: block;
  color: #000000;
  padding: 80px 160px;
  text-decoration: none;
}
.navbar li a:hover {
  background-color: #FFFFFF;
  color: #000000;
}

h1 {
    width:500px;
    margin: 0 auto;
    text-align: center;
    font-size: 47px;
}


.follow-us-insta {
  list-style: none;
  padding-left: 0;
}

.follow-us-insta li {
  position: relative;
  padding-left: 30px;
  line-height: 170%;
}
.follow-us-insta {
  list-style: none;
  padding-left: 0;
}
.follow-us-insta li {
  position: relative;
  padding-left: 30px;
  line-height: 170%;
}
.follow-us-insta li:before {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  background-image: url('../instagram.jpg');
  background-size: cover;
  background-position: center;
  left: 0;
  top: 50%;
  transform: translateY(-50%) 
}
